@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #fff;
}

.bg_menu {
  background: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(75px);
}
/* .main_container {
  width: 1170px ;
  margin: 0 auto;
} */
.no-spin {
  appearance: textfield;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  display: none;
}

.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1200px) {
  .main_container {
    width: 1170px;
    margin: 0 auto;
  }
}

section {
  text-transform: uppercase;
  overflow-x: hidden;
}
section div {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
section div .news-message {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  animation: slide-left 20s linear infinite;
}
section div .news-message p {
  padding-left: 0.5em;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
