@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #fff;
}

.bg_menu {
  background: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(75px);
}
/* .main_container {
  width: 1170px ;
  margin: 0 auto;
} */
.no-spin {
  appearance: textfield;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  display: none;
}

.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1200px) {
  .main_container {
    width: 1170px;
    margin: 0 auto;
  }
}

section {
  text-transform: uppercase;
  overflow-x: hidden;
}
section div {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
section div .news-message {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  animation: slide-left 20s linear infinite;
}
section div .news-message p {
  padding-left: 0.5em;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.menu_slider_home .slick-dots {
  position: absolute;
  top: calc(100% - 12px - 28px);
}

.menu_slider_home .slick-dots li.slick-active button:before {
  color: #db4444;
  opacity: 1;
}
.menu_slider_home .slick-dots li button:before {
  color: #ffffff;
  opacity: 0.5;
}

.menu_slider_home .slick-dots li button:before {
  font-size: 12px;
}

.color-limited {
  background: rgb(231, 232, 173);
  background: linear-gradient(
    90deg,
    rgba(231, 232, 173, 1) 20%,
    rgba(186, 227, 100, 1) 41%,
    rgba(173, 226, 116, 1) 49%,
    rgba(141, 223, 142, 1) 61%,
    rgba(136, 221, 116, 1) 71%,
    rgba(65, 217, 203, 1) 82%,
    rgba(0, 212, 255, 1) 100%
  );
}
